<div class="auth-page">
  <div class="auth-container">
    <h2>🦸 Add Hero</h2>

    <input type="text"
           name="firstName"
           placeholder="First Name"
           [(ngModel)]="hero.firstName" />

    <input type="text"
           name="lastName"
           placeholder="Last Name"
           [(ngModel)]="hero.lastName" />

    <div class="checkbox-group">
      <input type="checkbox"
             name="isActive"
             [(ngModel)]="hero.isActive" />
      <span>Active</span>
    </div>

    <button (click)="addHero()">Save Hero</button>

    <p>
      <a routerLink="/heroes" class="secondary">Cancel</a>
    </p>

     <!--Optional message 
    <div *ngIf="message"
         class="message"
         [ngClass]="isError ? 'error' : 'success'">
      {{ message }}
    </div>-->

  </div>
</div>

